html {
  background-color: #F5DAE3;
}
.button {
  background-color: #BB8496;
  border: none;
  color: White;
  padding: 15px 32px;
  font-family: Poppins;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#quote {
  font-family: Poppins;
  color: White;
  text-align:center;
}
#myGoddess {
  color: White;
  font-family: Poppins;
  text-align: center;
  text-shadow: 2px 2px 4px DarkGrey;
  font-size: 50px;
}
#santeDeFemme {
  color: White;
  font-family: Cedarville Cursive;
  text-align: center;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
}
#infoabout {
  font-family: 'Poppins', serif;
  font-size: 24px;
  text-align:left;
}
#aboutTitle {
  font-family: 'Poppins', cursive;
  font-size: 70px;
  text-align:center;
  padding-left: 62px;
}
#aboutus {
  background-color:#ffffcc;
  color: #737373;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    underline: none;
}
li {
    display: inline;
}
  
#contactusTitle
{
  font-family: 'Poppins', cursive;
  font-size: 70px;
  text-align:center;
  padding-left: 62px;
}
#contactus {
  background-color:#e6e6ff;
  color: #737373;
}
#infoabout #contactUsPara {
  margin-left: 50px;
}
