html {
  background-color: #F5DAE3;
}
.button {
  background-color: #BB8496;
  border: none;
  color: White;
  padding: 20px 37px;
  font-family: 'Poppins';
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button .buttonRead{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button .buttonRead:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover .buttonRead {
  padding-right: 25px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:hover .buttonRead:after {
  opacity: 1;
  right: 0;
}
#quote {
  font-family: 'Poppins';
  color: White;
  text-align:center;
}
#myGoddess {
  color: White;
  font-family: 'Yanone Kaffeesatz';
  text-align: center;
  text-shadow: 2px 2px 4px DarkGrey;
  font-size: 50px;
}
#santeDeFemme {
  color: White;
  font-family: 'Meddon';
  letter-spacing: -3px;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
  line-height: 30px;
}
#aboutTitle {
  font-family: 'Poppins';
  font-size: 70px;
  text-align:center;
  line-height: 0px;
  
}
#aboutUs {
    border-radius: 25px;
    background: #A3848F;
    padding: 20px; 
    width: 91%;
    margin: 50px;
    height: 900px; 
   	font-family: Poppins;
    text-align:center;
    font-size: 30px;
    color: White;
}

#picabout {
 margin-right: 30px; 
 padding: 30px;
 border: 2px; 
 border-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}
li {
    display: inline;
}

#contactus > br {
    line-height: 2px;
}
  
#contactUs {
    border-radius: 25px;
    background: #A3848F;
    padding: 20px; 
    width: 1200px;
    height: 900px; 
   	font-family: Poppins;
    font-size: 50px;
}


#contactus {
  font-family: 'Poppins';
  background: #A3848F;
  color: #737373;
  font-size: 50px;
}
#startText {
  font-family: 'Poppins';

#navBar {
  font-family: 'Poppins';
  background-color: transparent;
  color: White;
  border: 2px solid White;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}
#infoabout, #contactUsPara {
  font-family: 'Poppins';
  font-size: 30px;
  margin-left: 30px;
  text-align: justify;
  line-height: 60px;
  padding: 10px 20px 30px 10px;
}

.submitBtnNew {
  background-color: #BCE5E5;
  padding:20px;
  border: 2px solid #f2f2f2;
  border-radius: 7px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
  color: #f2f2f2;
}
#beyondTitle {
  font-family: 'Poppins';
  font-size: 70px;
  text-align:center;
  line-height: 50px;
}
 #beyondUs {
    border-radius: 25px;
    background: #A3848F;
    padding: 20px; 
    width: 1200px;
    height: 900px; 
   	font-family: Poppins;
    font-size: 50px;
}

#startText {
  color: White;
  font-size: 30px;
}
#startArrow {
  color: White;
  font-size: 50px;
}
