html {
  background-color: #F5DAE3;
}
.button {
  background-color: #BB8496;
  border: none;
  color: White;
  padding: 15px 32px;
  font-family: Poppins;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button .buttonRead{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button .buttonRead:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover .buttonRead {
  padding-right: 25px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:hover .buttonRead:after {
  opacity: 1;
  right: 0;
}
#quote {
  font-family: Poppins;
  color: White;
  text-align:center;
}
#myGoddess {
  color: White;
  font-family: Poppins;
  text-align: center;
  text-shadow: 2px 2px 4px DarkGrey;
  font-size: 50px;
}
#santeDeFemme {
  color: White;
  font-family: Cedarville Cursive;
  text-align: center;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
}
#aboutTitle {
  font-family: 'Poppins';
  font-size: 70px;
  text-align:center;
  line-height: 50px;
  
}
#aboutus {
  background-color:#ffffcc;
  color: #737373;
}

#picabout {
 margin-right_ 50px; 
 border: 2px border-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}
li {
    display: inline;
}
  
#contactusTitle {
  font-family: 'Poppins';
  font-size: 70px;
  text-align:center;
}
#contactus {
  font-family: 'Poppins';
  background-color:#e6e6ff;
  color: #737373;
  text-align: center;
  font-size: 50px;
}
#navBar {
  font-family: 'Poppins';
  background-color: transparent;
  color: White;
  border: 2px solid White;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}
#infoabout, #contactUsPara {
  font-family: 'Poppins';
  font-size: 30px;
  margin-left: 100px;
}

.submitBtnNew {
  background-color: transparent;
  padding:20px;
  border: 2px solid #f2f2f2;
  border-radius: 7px;
  font-size: 40px;
  font-weight: bold;
  color: #f2f2f2;
}
