input select {
  font-size: 20px;
}
#heightI {
  margin-left: 10px;
}
html {
  background-color: #F5DAE3;
  font-family: Poppins;
  font-size: 20px;
}
  .button {
    background-color: #BB8496;
    border: none;
    color: White;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
#formDiv {
  width: 80%;
  margin: auto;
}

img {
  width:700px;
  height:157px;
}
#backToHome {
  text-align: left;
  margin-left: 10px;
  font-size: 10px;
}
