input select {
  font-size: 20px;
}
#heightI {
  margin-left: 10px;
}
html {
  background-color: #F5DAE3;
  font-family: Poppins;
  font-size: 20px;
}
  .button {
    background-color: #BB8496;
    border: none;
    color: White;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
#formDiv {
  width: 40%;
  margin: auto;
}

img {
  width:700px;
  height:157px;
}
#backToHome {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
form-style {
  display: block;
    margin-bottom: 8px;
  max-width: 500px;
    padding: 10px 20px;
    background: #ff8095;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style fieldset {
  border: none;
}
.form-style legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style input[type="text"],
.form-style select {
  font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
.form-style input[type="text"]:focus,
.form-style select:focus {
  background: #d2d9dd;
}

.form-style select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

#submitButton {
  position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
#submitButton:hover {
  background: #109177;
}
